:root {
    --winningtheme: #16679a;
}

.toast,
main {
    display: none;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/WOFF2/OpenSans-Bold.woff2) format("woff2"), url(fonts/WOFF/OpenSans-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/WOFF2/OpenSans-Regular.woff2) format("woff2"), url(fonts/WOFF/OpenSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f1f1f1;
    font-family: "Open Sans", sans-serif;
    font-size: 80%; /* Scale down font size */
}

header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 19.2px; /* Scale down margin */
    margin-top: 14.4px; /* Scale down margin */
}

/* Left icon */
header > *:first-child {
    margin-left: 8px; /* Scale down margin */
}

/* Right icon */
header > *:nth-last-child(1) {
    margin-right: 8px; /* Scale down margin */
}


h3 {
    font-size: 24px; /* Scale down font size */
    margin: 0;
    padding-left: 8px; /* Scale down padding */
    padding-right: 8px; /* Scale down padding */
}

.headerLogo {
    height: 28px; /* Scale down height */
    width: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.houseCard {
    margin: 12px; /* Scale down margin */
    flex: 1;
    background-color: #1f1f1f;
    border-radius: 44px; /* Scale down border radius */
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto;
}

.position {
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 800px; /* Scale down border radius */

    display: flex;
    align-items: center;
    margin: 0;
    font-size: 28px; /* Scale down font size */
    color: #fff;

    width: 12px; /* Scale down width */
    height: 12px; /* Scale down height */
    margin-right: 8px; /* Scale down margin */
    padding: 24px; /* Scale down padding */
    margin-top: -8px; /* Scale down margin */
    margin-left: -8px; /* Scale down margin */
}

.teamName {
    justify-content: center;

    display: flex;
    align-items: center;
    margin: 0;
    color: #fff;

    font-size: 40px; /* Scale down font size */
    margin-left: auto;
    margin-right: auto;
    margin-top: -48px; /* Scale down margin */
    padding: 0;
    padding-right: 1.4vw; /* Scale down padding */
}

.scores {
    height: 80%; /* Scale down height */

    margin: 0;
    font-size: 28px; /* Scale down font size */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px; /* Scale down margin */
    color: #fff;
    padding: 0;
    margin-top: 10px;
}

.scoresContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 1.6vw; /* Scale down padding */
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px; /* Scale down margin */
    margin-bottom: 5.6px; /* Scale down margin */
    padding-top: 17.5px;
}

sup {
    margin-bottom: 16px; /* Scale down margin */
}

@media screen and (min-width: 680px) { /* Adjusted media query */
    .houseCard {
        flex-direction: row;
        width: 640px; /* Scale down width */
        height: 120px; /* Scale down height */
        margin-left: calc(50vw - 320px); /* Scale down margin */
    }

    .position {
        width: 16px; /* Scale down width */
        height: 16px; /* Scale down height */
    }

    .teamName {
        margin-top: 0;
        font-size: 52px; /* Scale down font size */
        padding-left: 16px; /* Scale down padding */
        padding-top: 20px; /* Scale down padding */
    }

    .scores {
        font-size: 32px; /* Scale down font size */
        margin-top: 0px;
    }

    .scoresContainer {
        margin: 0;
        margin-left: auto;
        padding-right: 40px; /* Scale down padding */
    }
}

#greenCard {
    background-color: #07ca78;
}

#yellowCard {
    background-color: #f1b900;
}

#redCard {
    background-color: #ef233c;
}

#blueCard {
    background-color: #3a86ff;
}

#greenPosition {
    background-color: #06ac66;
}

#yellowPosition {
    background-color: #cc9c00;
}

#redPosition {
    background-color: #ce1d33;
}

#bluePosition {
    background-color: #2e6bcc;
}
