body {
    background-color: #f1f1f1;
    font-family: "Open Sans", sans-serif;
    font-size: 80%; /* Scale down font size */
}

header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 19.2px; /* Scale down margin */
    margin-top: 14.4px; /* Scale down margin */
}

/* Left icon */
header > *:first-child {
    margin-left: 8px; /* Scale down margin */
}

/* Right icon */
header > *:nth-last-child(1) {
    margin-right: 8px; /* Scale down margin */
}


h3 {
    font-size: 24px; /* Scale down font size */
    margin: 0;
    padding-left: 8px; /* Scale down padding */
    padding-right: 8px; /* Scale down padding */
}

.headerLogo {
    height: 28px; /* Scale down height */
    width: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}